.category-scroll {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.category-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.category-scroll:hover::-webkit-scrollbar,
.category-scroll:active::-webkit-scrollbar {
    display: block;
    height: 4px;
}

.category-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.category-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(203, 213, 225, 0.5);
    border-radius: 20px;
}

.category-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(203, 213, 225, 0.8);
}


/* Make container slightly taller on hover to accommodate scrollbar */
.category-scroll:hover {
    padding-bottom: 6px;
    margin-bottom: -2px;
}
